body {
  background-color: #232425;
}

.Slider-Container {
  margin: 0 0.75rem;
}

.App {
  max-width: 738px;
  margin: 1rem auto;
}

h1 {
  font-size: calc(24px + 1.8vw);
  font-weight: normal;
}

.half {
  display: inline-block;
  width: 50%;
}

h1, h2, h3, p, label, strong, th {
  color: #ffffff;
  font-family: "IBM Plex Mono", monospace;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url('/fonts/IBMPlexMono-Regular.ttf') format('truetype');
}
