body {
  background-color: #232425;
  padding: 1rem;
}
.App {
  max-width: 738px;
  margin: 1rem auto;
}

.half {
  display: inline-block;
  width: 50%;
}

h1, h2, h3, p, label, strong, th {
  color: #ffffff;
  font-family: "IBM Plex Mono", monospace;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url('/fonts/IBMPlexMono-Regular.ttf') format('truetype');
}
